
.sectionPageCriarEntregas {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--bg-primary);
  position: relative;
}


.containerPageCriarEntregas{
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: var(--bg-modal);
  border-radius: 8px;
  padding: 2%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.spaceParaTituloModal{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 20px;
}

.tituloSpaceModal{
    font-size: 24px;
    font-weight: 300;
    color: var(--text-primary);
}

.spaceInputsCriarEntrega{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
}

.inputsCriarEntrega{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    min-width: 10%;
}

.inputEntrega{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.buttonEnviarCadastro{
    padding: 10px 20px;
    background-color: var(--primay-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}


.buttonEnviarCadastro:hover{
    background-color: var(--primay-color_hover);
}