
.navbar{
    width: 100%;
    height: auto;
    background-color: var(--bg-navebar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    box-sizing: border-box;
    box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.3);
}

.containerMarca{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.escritaMarca{
    color: var(--color-marca);
    font-size: 24px;
    font-weight: bold;
    margin-left: 8px;
}

.logoMarca{
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.containerLinks{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.linksNaveBar{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.linksNaveBar:hover{
    color: var(--primay-color);
}