.bodyLoading {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-sond-flor);
    z-index: 9999999999;
}

.espaco_para_icones {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textoLoading{
    color: var(--white-100);
    font-weight: 300;
}