.sectionPageAtualizarEntregas {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-primary);
}

.containerPageAtualizarEntregas {
    width: 95%;
    max-width: 900px;
    background: var(--bg-modal);
    padding: 32px;
    border-radius: 14px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.4s ease-in-out;
    margin-top: 40px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.spaceParaTituloModal {
    margin-bottom: 25px;
}

.tituloSpaceModal {
    font-size: 26px;
    font-weight: 600;
    color: var(--text-primary);
}

.spaceInputsAtualizarEntrega {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.inputsAtualizarEntrega {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.inputsAtualizarEntrega label{
    font-size: 15px;
    color: var(--text-primary);
    font-weight: 500;
    margin-top: 0;
}


.inputEntrega {
    border: 1px solid #d1d1d1;
    background: #fcfcfc;
    padding: 10px 12px;
    font-size: 15px;
    border-radius: 8px;
    outline: none;
    transition: 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.inputEntrega:focus {
    border-color: var(--primay-color);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
    background: white;
}

.buttonBuscarCadastro {
    grid-column: 1 / -1;
    padding: 12px;
    font-size: 17px;
    font-weight: 600;
    background: var(--primay-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s ease;
    margin-top: 20px;
}

.buttonEnviarCadastro {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    background: var(--primay-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s ease;
    width: auto;
    height: 100%;
}

.buttonEnviarCadastro:hover {
    background: var(--primay-color_hover);
    transform: translateY(-2px);
}

.buttonExcluir {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    background: #c0392b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s ease;
    width: auto;
    height: 100%;
}

.buttonExcluir:hover {
    background: #e74c3c;
    transform: translateY(-2px);
}

.buttonsActions {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}